/* Put your PDF stylesheet details here */

td.entry-view-field-value {
padding-left: 9px;	
}

.even {
background: #EAF2FA;	
}

.body_copy {
padding-top: 50px;	
}

.pdf_logo_area {
text-align: center;
margin: 0 auto;
}